.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(93, 10, 126);
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding-top: 40px;
  background-color: #e5e5e5;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-lable{
  width: 40px;
  display:inline-block;

}
.table-data {
  padding: 33.33%;
}

.container {
  max-width: 30%;
  background-color: whitesmoke;
}

.myButton {
  border-radius: 50%;
}

td {
  padding: 10px;
}
th {
  padding: 10px;
}

tr > th {
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.cancel {
  background-color: transparent;
  border: 0.5px solid darkgray;
  max-width: 47%
}

.modal-footer{
  padding: 10px;
  align-items: inherit;
}

.text-field-cointainer {
  border: 1px solid gray;
  padding: 5px 5px 0px 5px;
  margin-top: 5px;
}